<!DOCTYPE html>
<html>
<head>
	<title>employee Details</title>
	<style type="text/css">
		p
		{
			text-align:center;
			background:orange;
			color:red
			padding:70px;
			margin-left:40%;
			margin-right: 50%;
		}
		#sample
		{
			margin-left: 30%;
			margin-right: 40%;
			background-color: green;
			text-align: center;
		}
		.sa
		{
			margin-right: 40%;
			text-align: center;
			color: green;
			background-color: white;
			font-size: 30px;
		}
	</style>
</head>
<body>
	<h3>your name is : <span style="color:brown;font-size: 30px">{{n}}</span></h3>
	<h4 id="sample"style="text-align:center">your id is : {{i}}</h4>	
	<h1>Internal</h1>
	<p>This is an example for Internal styling based on tag</p>
	<h4 id="sample">This is an example for internal based on ID</h4>
	<h4 class="sa">This is an example for class by using internal styling</h4>
	<p class="sa">This is an example</p>
	<h1 class="sa">Hi welcome teja</h1>
</body>
</html>