<!DOCTYPE html>
<html>
<head>
	<title>Login to account</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=10"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<form action="{% url 'task' %}" method="post">
	{% csrf_token %}
	<div>
		<h2 class="container text-warning">Log Into Your Account</h2>
	</div>
	<div class="container">
		<input type="email" name="email" placeholder="emailaddress" class="text-primary"><br>
	</div>
	<div class="container">
		<input type="password" name="password" placeholder="password"><br>
	</div>
	<div class="container">
		<input type="submit" name="submit" class="btn btn-primary">
	</div>
</form>
</body>
</html>