<!DOCTYPE html>
<html>
<head>
	<title>Display registration</title>
</head>
<body>
	<h2>hi {{firstname}}{{lastname}}</h2>
	<table border="1">
		<tr>
			<thead>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email ID</th>
				<th>Phone Number</th>
				<th>Gender</th>
				<th>Address</th>
				<th>Languages You Know</th>
			</thead>
		</tr>
		<tr>
			<tbody>
				<td>{{firstname}}</td>
				<td>{{lastname}}</td>
				<td>{{emailID}}</td>
				<td>{{phonenumber}}</td>
				<td>{{gender}}</td>
				<td>{{Address}}</td>
				<td>{{languages}}</td>
			</tbody>
		</tr>
	</table>
</body>
</html>